*{
  transition: 250s;
}

.App{
  border: 1px solid #3d3d3d;
  margin: 50px 30px;
  padding: 25px 15px;
}

.tasksContainer{
  display: flex;
  flex-direction: column;
}

.tasksContainer ul:empty{
  display: none;
}

.tasksContainer ul li{
  width: 180px;
  overflow-wrap: break-word;
  list-style-type: "👉";
  cursor: pointer;
  color: hsl(0, 0%, 0%);
}

.tasksContainer ul li.completedTask{
  text-decoration: line-through;
  list-style-type: "✔";
  opacity: .75;
  color: hsl(0, 0%, 0%, 50%); /*! Doesn't work */
}

.taskContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

